# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
key.properties
*.keystore
*.jks

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
macos/Flutter/GeneratedPluginRegistrant.swift

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# 產生物
**/GeneratedPluginRegistrant.*
.flutter-plugins
.flutter-plugins-dependencies
